</table>
</td></tr>
<tr><td class="change">
<input type="button" id="_refresh" onClick="return refreshContent('<? echo $PHP_SELF;>');" value=" <? echo dict_translate("Refresh"); > "></td>
</tr></table>
</form>
</body>
</html>
