</td>
</tr>
</table>
</td></tr>
<tr><td class="change">
<input type="button" onClick="return refreshContent('<? echo $PHP_SELF+"?clr=yes";>');" value=" <? echo dict_translate("Clear"); > ">
<input type="button" onClick="return refreshContent('<? echo $PHP_SELF;>');" value=" <? echo dict_translate("Refresh"); > "></td>
</tr></table>
</form>
</body>
</html>
