</td>
</tr>
</table>
</td></tr>
<tr><td class="change">
<input type="button" onClick="return refreshContent('<? echo $PHP_SELF+"?netmode="+$netmode;>');" value=" <? echo dict_translate("Refresh"); > "></td>
</tr></table>
</form>
</body>
</html>
