</table>
</td></tr>
<tr><td colspan="3" class="sep">&nbsp;</td></tr>
<tr><td colspan="3" class="centered">
<input type="button" id="btn_save" value="<? echo dict_translate("Save"); >">
<input type="button" id="btn_close" value="<? echo dict_translate("Close"); >" onClick="window.close()">
</td></tr>
</table>
</form>
</body>
</html>
