<div id="warning">
<table cellspacing="0" cellpadding="0" id="infotbl" class="errortbl" style="display: block;">
<tr>
<td class="infoleft">&nbsp</td>
<td class="infocenter" valign="top">
    <div id="info">
    <strong><? echo dict_translate("WARNING:"); ></strong>
	<? echo dict_translate("warn_device_role_changed|Device role has been changed - please review <a href=\"network.cgi\">network</a> settings!"); >
    </div>
</td>
<td class="inforight">&nbsp</td>
</tr>
</table>
</div>
